.about {
  margin-bottom: 46px;
}

.about__wrapper {
  @include container;
}

.about__title {
  @include title;
  margin-bottom: 42px;
}

.about__list {
  @include list-unstyled;
}

.about__item {
  @include text-arial;
  position: relative;

  margin-bottom: 26px;
  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $main-color-green;
    background-position: center;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: $tablet-width) {
  .about {
    margin-bottom: 16px;
  }

  .about__title {
    margin-bottom: 69px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    flex-basis: 50%;

    position: relative;

    margin-bottom: 0;
    padding-left: 0;
    padding-top: 115px;
    padding-right: 100px;
    padding-bottom: 130px;

    counter-increment: levels-counter;

    &::before {
      top: 3px;

      width: 80px;
      height: 80px;

      background-repeat: no-repeat;
    }

    &:nth-of-type(2n) {
      padding-left: 30px;

      &::before {
        left: 30px;
      }
    }

    &--clock {
      padding-right: 31px;
    }

    &::after {
      content: counter(levels-counter);
      position: absolute;
      z-index: -1;

      top: 92px;

      font-family: $font-regular;
      font-size: 281px;
      color: $main-color-grey;
    }

    &--leaf::after {
      left: 118px;
    }

    &--powder::after {
      left: 141px;
    }

    &--dining::after {
      left: 113px;
    }

    &--clock::after {
      left: 143px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-bottom: 220px;
  }

  .about__list {
    flex-wrap: nowrap;
  }

  .about__item {
    padding-right: 0;
    margin-right: 80px;
    padding-bottom: 55px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
