.about__wrapper {
  @include container;
}

.about__title {
  @include title;
}

.about__list {
  @include list-unstyled;
}

.about__item {
  @include text-arial;
}

@media (min-width: $tablet-width) {
  .about__title {
    margin-bottom: 75px;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about__item {
    flex-basis: 50%;
    padding-top: 115px;
    padding-right: 100px;
    padding-bottom: 140px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-bottom: 220px;
  }

  .about__list {
    flex-wrap: nowrap;
  }

  .about__item {
    padding-right: 0;
    margin-right: 80px;
    padding-bottom: 55px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
