.button {
  display: block;
  padding: 8px 0;
  width: 280px;
  color: $main-color-white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $main-color-green;
  border: none;
}
