.button {
  display: block;
  padding: 10px 0;
  width: 280px;

  color: $main-color-white;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $main-color-green;
  border: none;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5eaa2f;
  }
}
