.catalog {
  padding-top: 26px;
}

.catalog__wrapper {
  @include container;
  padding: 0;
}

.catalog__title {
  @include title;
  margin: 0 20px;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 0;
    margin-bottom: 66px;
  }

  .catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__title {
    margin: 0;
    margin-bottom: 166px;

    flex-basis: 100%;
  }
}
