.example {
  color: $main-color-black;
  background-color: $main-color-grey;
}

.example__wrapper {
  @include container;
  padding-top: 35px;
  padding-bottom: 35px;
}

.example__title {
  @include title;
  margin-bottom: 40px;
}

.example__text {
  @include text-arial;
  margin-bottom: 30px;
  padding-right: 10px;
}

.example__statistics {
  @include list-unstyled;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__stat {
  margin-bottom: 25px;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  text-align: center;

  &--cost {
    flex-basis: 100%;
  }
}

.example__result {
  @include small-title;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.example__desc {
  @include text-arial;
  font-size: 12px;
  line-height: 12px;
}

.example__cost {
  font-size: 14px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $main-color-white;
  }

  .example__wrapper {
    padding: 0;
  }

  .example__info {
    padding: 0 30px;
  }

  .example__title {
    margin-bottom: 75px;
  }

  .example__text {
    margin-right: 20px;
    margin-bottom: 60px;
  }

  .example__statistics {
    margin-bottom: 75px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .example__stat {
    flex-basis: 162px;
  }

  .example__stat--cost {
    margin-left: auto;
    flex-basis: 192px;
    text-align: right;
  }

  .example__result {
    font-size: 30px;
    line-height: 36px;
  }

  .example__desc {
    font-size: 14px;
    line-height: 14px;
  }

  .example__cost {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    display: flex;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: $main-color-grey;
  }

  .example__text {
    margin: 0;
    padding: 0;
    width: 435px;
    margin-bottom: 75px;
  }

  .example__statistics {
    margin-bottom: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .example__stat {
    margin-bottom: 60px;
  }

  .example__stat--cost {
    margin-left: 0;
    flex-basis: auto;
  }

  .example__cost {
    font-size: 20px;
    line-height: 20px;
  }

  .example__cost-price {
    margin-left: 60px;
  }
}
