.extra-goods__wrapper {
  @include container;
}

.extra-goods__title {
  @include small-title;
}

.extra-goods__list {
  @include list-unstyled;
}

@media (min-width: $tablet-width) {
  .extra-goods {
    margin-bottom: 70px;
  }

  .extra-goods__title {
    margin-left: 40px;
    margin-bottom: 85px;
  }
}

@media (min-width: $desktop-width) {
  .extra-goods__title {
    margin-left: 0;
  }

  .extra-goods__list {
    margin-right: 325px;
  }
}
