.gift {
  height: 289px;
  text-align: center;
  font-family: "Arial", sans-serif;
  color: $main-color-white;
  background-color: $main-color-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: 100%;

  @media (max-width: $mobile-width-only) and (min-resolution: $retina-dpi),
    (max-width: $mobile-width-only) and (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.gift__slogan {
  @include text-arial;
  padding-top: 190px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .gift {
    height: auto;
    padding-top: 75px;
    padding-left: 420px;
    padding-right: 110px;
    padding-bottom: 65px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    // background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .gift__slogan {
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .gift {
    padding: 0;
    width: 245px;
    height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .gift__slogan {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 180px;
    text-align: center;
  }
}
