.main-nav {
  font-size: 20px;
  font-family: $font-medium;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-nav {
    font-family: $font-regular;
  }

  .main-nav__toggle {
    display: none;
  }
}
