.page-header {
  margin-top: 15px;
}

.page-header__wrapper {
  @include container;
  padding: 0;
}

.page-header__logo {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 0 20px;
}

.page-header__logo-image {
  margin-right: 55px;
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__logo {
    margin-bottom: 0;
  }

  .page-header__logo-image {
    margin-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-top: 50px;
    margin-bottom: 85px;
  }
}
