.page-header__wrapper {
  @include container;
}

.page-header__logo-image,
.page-header__logo-text {
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
