.pick-programm {
  margin-top: 26px;
  padding-bottom: 31px;
}

.pick-programm__wrapper {
  @include container;
  padding: 0;
}

.pick-programm__title {
  @include title;
  margin: 0 20px;
  margin-bottom: 37px;
}

.pick-programm__text {
  width: 250px;
  margin: 0 20px;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .pick-programm {
    margin-top: 65px;
    padding-bottom: 0;
  }

  .pick-programm__title {
    margin: 0;
    margin-bottom: 65px;
  }

  .pick-programm__text {
    width: 340px;
    margin-left: 40px;
    margin-bottom: 70px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .pick-programm__text {
    margin-left: 0;
    margin-right: 895px;
  }
}
