.programms {
  margin-bottom: 28px;
}

.programms__wrapper {
  @include container;
}

@media (min-width: $tablet-width) {
  .programms {
    margin-bottom: 44px;
  }
}

@media (min-width: $desktop-width) {
  .programms {
    margin-bottom: 80px;
  }

  .programms__wrapper {
    display: flex;
  }
}
