.promo {
  margin-bottom: 20px;
  color: $main-color-white;
  background-color: $main-color-white;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: repeat-x;
  background-position: center top;
}

.promo__wrapper {
  @include container;
  min-height: 480px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 85%;
}

.promo__title {
  @include title;
  margin-bottom: 30px;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__button {
  margin-top: auto;
}

@media (max-width: $mobile-width-only) and (min-resolution: $retina-dpi),
  (max-width: $mobile-width-only) and (min-resolution: $retina-dppx) {
  .promo {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 100%;
  }

  .promo__wrapper {
    background-image: url("../img/index-can-mobile@2x.png");
    background-size: auto 271px;
  }
}


@media (min-width: $tablet-width) {
  .promo {
    margin-bottom: 0;

    color: $main-color-black;
    background-image: none;
  }

  .promo__wrapper {
    min-height: 810px;
    padding-left: 120px;
    text-align: left;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-position: center bottom;
    background-size: 708px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  .promo__title {
    margin-right: 200px;
    margin-bottom: 35px;
  }

  .promo__slogan {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 20px;
  }

  .promo__button {
    margin-top: 0;
    padding: 20px 30px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    min-height: 500px;
    margin-bottom: 80px;
    background-color: $main-color-white;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .promo__wrapper {
    background-image: url("../img/index-can-desktop@1x.png");
    background-position: center;
    background-size: 552px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
    }
  }

  .promo__title,
  .promo__slogan {
    width: 415px;
    margin-right: 0;
    margin-bottom: 50px;
  }
}
