.slider__image--hidden {
  display: none;
}

.slider__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__toggle {
  text-transform: uppercase;
}

.slider__scale {
  position: relative;

  margin: 0 10px;
  width: 84px;
  height: 14px;
  background-color: $main-color-white;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
}

.slider__bar {
  position: absolute;
  top: 50%;

  width: 35px;
  height: 6px;
  background-color: $main-color-green;
  border-radius: 5px;

  transform: translateY(-50%);
}

.slider__bar--before {
  left: 4px;
}

.slider__bar--after {
  left: 43px;
}

@media (min-width: $tablet-width) {
  .slider {
    padding-bottom: 75px;
    background-color: #eaeaea;
    background-size: 100% 384px;
    background-position: center bottom;
  }

  .slider__image {
    width: 690px;
    height: 517px;
    display: block;
    margin: 0 auto;
  }

  .slider__image--hidden {
    display: none;
  }

  .slider__toggle {
    font-size: 20px;
    line-height: 20px;
  }

  .slider__scale {
    width: 428px;
    height: 6px;
    background-color: #dcdcdc;
    border-radius: 3px;
    border: none;
  }

  .slider__bar {
    position: relative;

    width: 34px;
    height: 34px;
    background-color: $main-color-white;
    border: 1px solid $main-color-medgrey;
    border-radius: 34px;

    cursor: pointer;

    &:active {
      border: 2px solid $main-color-green;
    }

    &::before {
      content: "";

      position: absolute;
      top: 50%;
      left: 50%;

      width: 8px;
      height: 8px;
      border-radius: 5px;
      background-color: $main-color-green;

      transform: translateX(-50%) translateY(-50%);
    }
  }

  .slider__bar--before {
    left: 0;
  }

  .slider__bar--after {
    left: calc(100% - 35px);
  }
}

@media (min-width: $desktop-width) {
  .slider {
    width: 690px;
    padding-bottom: 0;
    background-color: transparent;
  }

  .slider__toggles {
    margin-top: 40px;
  }
}
