$main-color-white: #ffffff;
$main-color-green: #68b738;
$main-color-grey: #f2f2f2;
$main-color-darkgrey: #444444;
$main-color-black: #000000;
$font-regular: "Oswald Regular", "Arial", sans-serif;
$font-medium: "Oswald Medium", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1440px;
