$main-color-1: #ffffff;
$main-color-2: #68b738;
$main-color-3: #f2f2f2;
$main-color-4: #000000;
$font-regular: "Oswald Regular", "Arial", sans-serif;
$font-medium: "Oswald Medium", "Arial", sans-serif;
